<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CSS Minification benchmark V2 results</title>
    <meta name="description" content="Benchmark of modern popular CSS minification tools">
    <meta name="keywords" content="CSS, Minification, Benchmark">
    <meta name="author" content="Maksim Kondratev">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="mt-2 mb-4 text-center">
        <h1 class="h3">CSS Minification Benchmark V2</h1>
        <a
          href="https://github.com/GoalSmashers/css-minification-benchmark"
          title="View the V1 GitHub repository"
        >V1 GitHub</a>
        <span>|</span>
        <a
          href="https://github.com/kondratjev/css-minification-benchmark"
          title="View the V2 GitHub repository"
        >V2 GitHub</a>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-sm table-hover table-striped">
          <thead>
            <tr>
              <th class="align-middle text-center">File</th>
              <% data[0].measurements.forEach(measurement => { %>
                <th class="align-middle text-center">
                  <div class="d-flex flex-column">
                    <a href="<%= measurement.minifier.url %>" target="_blank"><%= measurement.minifier.name %> - <%= measurement.minifier.version %></a>
                    <span><%= measurement.minifier?.description ?? "-" %></span>
                  </div>
                </th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(row => { %>
              <tr>
                <td class="align-middle">
                  <div class="d-flex flex-column align-items-start gap-1">
                    <span><%= row.filename %></span>
                    <span class="badge bg-secondary"><%= row.originalSizeLabel %> (100%)</span>
                  </div>
                </td>
                <% row.measurements.forEach(measurement => { %>
                  <td class="align-middle">
                    <% if (measurement.elapsedTime > 0 && measurement.minifiedSize > 0) { %>
                      <div class="d-flex flex-column align-items-start gap-1">
                        <span class="badge <%- measurement.elapsedTime === row.stats.bestTime ? 'bg-success' : measurement.elapsedTime === row.stats.worstTime ? 'bg-danger' : 'bg-secondary' %>"><%= measurement.elapsedTime %> ms (×<%= measurement.differential %>)</span>
                        <span class="badge <%- measurement.minifiedSize === row.stats.bestSize ? 'bg-success' : measurement.minifiedSize === row.stats.worstSize ? 'bg-danger' : 'bg-secondary' %>"><%= measurement.minifiedSizeLabel %> (<%= measurement.efficiency %>%)</span>
                      </div>
                    </td>
                    <% } else { %>
                      <span class="badge bg-warning text-dark">Error!</span>
                    <% } %>
                <% }) %>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-column align-items-start gap-1 mb-3">
        <div>
          <span class="badge bg-danger">377.21 ms (×59.2)</span> - the worst measurement, where <code>377.21</code> is the elapsed time and <code>×59.2</code> is the coefficient of how many times slower.
        </div>
        <div>
          <span class="badge bg-success">25345 bytes (74.3%)</span> - the best measurement, where <code>25345</code> is the compressed size and <code>74.3%</code> is the percentage of the size ratio.
        </div>
      </div>
      <div class="machine-info my-2">
        <h2 class="h4">Benchmark info:</h2>
        <div class="d-flex flex-column bg-light border text-dark p-3">
          <span>Date: <%= info.date %></span>
          <span>CPU: <%= info.cpu %></span>
          <span>OS: <%= info.os %></span>
          <span>Bun: <%= info.bun %></span>
        </div>
      </div>
    </div>
  </body>
</html>
